.dbc {
    background-color: white; /* Color de fondo contenedor principal */
    color: black; /* Color de letra contenedor principal */
}

.card-title, .card-text {
    color: white /* Color letras tarjetas about us */
}

.row{
    margin-bottom: 20px;
}